/*ESTILOS PARA EL LAYOUT.HTML*/
//Declaración de las variables 
$colorBanner: #ef8a3c;
$colorHover: #9F4C22;
$colorFondo: #e7dfd8;
$colorLetras: #231F20;

/*ESTILOS GENERALES*/
body{
    background-color: $colorFondo;
}

a{
    text-decoration: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
}

nav, footer{
    background-color: $colorBanner;
}

/*ESTILOS PARA LAS LETRAS*/
.color{
    color: $colorLetras;
    text-decoration: none;  
}

.links:hover{
    background-color: $colorHover;
    color: white;
}

 /*ESTILOS DE LA CABECERA*/
#search input{
    background-color: $colorBanner;
    border-color: $colorLetras;
    color: $colorLetras;
}

#searchperfil:hover, #searchperfil:focus{
    box-shadow: 5px 5px $colorHover;
}

.search:hover{
    box-shadow: 5px 5px rgb(14, 82, 14);
    background-color: #198754;
}

form button.search{
    border-color: black;
}

/*ESTILOS DE EL PIE DE PÁGINA*/
footer ul{
    list-style-type: none;
}

footer li p{
    margin: 0;
}

#twitter{
    margin-left: -4px;
}

/*ESTILOS DEL CUERPO DE LA PÁGINA*/
p.card-text{
    height: 150px;
    overflow: auto;
}

div.card-body h5.card-title{
    height: 25px;
    overflow: auto;
}

.img-card-prod{
    height: 200px;
    object-fit: cover;
}

/*ESTILOS PARA EL DOCUMENTO GROUPS.HTML*/
.text_groups{
    font-size: 30px;
    width: fit-content;
    padding: 5px 10px;
    background-color: $colorHover;
    position: relative;
    transform: translateY(-55px);
    color: white;
    text-decoration: none;
}

.groups{
    height: 200px;
}

.groups img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ESTILOS PARA EL DOCUMENTO SECTION.HTML*/
#head_group{
    height: 150px;
    overflow: hidden;
}

#head_group img{
    object-fit: cover;
}

#head_group h2{
    font-size: 30px;
    width: fit-content;
    padding: 15px 30px;
    background-color: $colorHover;
    position: absolute;
    transform: translate(12px, 115px);
    color: white;
}

#postres{
    position: relative;
    z-index: -1;
    transform: translateY(-210px);
}

/*ESTILOS PARA EL DOCUMENTO CUENTA.HTML*/
#card-user-text{
    position: relative;
    transform: translate(0, -200%);
}

/*ESTILOS PARA EL DOCUMENTO LOGIN.HTML*/
.imglog{
    height: 500px;
}

.imglog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*ESTILOS PARA EL DOCUMENTO SIGNUP.HTML*/
.imgsign{
    height: auto;
}

.imgsign img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}